body {
    padding-top: 50px;
    font-family: "helvetica"
}

.row {
    margin-top: 50px;
}

.col-6 {
    text-align: center;
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h2 {
    float: right;
  }
  
h2 span {
    font-size:14px;
    font-weight:normal;
}
h4 {
	color: ;
}

.single-col {
    padding-right:15px;
    padding-left:15px;
    position: relative;
}

#mapid {
    width: 650px;
    height: 450px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.grid-item {
    margin: 50px 50px;
    padding: 30px;
    /*margin-top: 50px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Ek+Mukta:400,300,500,700,800");
.animation {
  font-family: 'Ek Mukta', sans-serif;
  /*background: #fff59d;*/
}

.animation {
    height: 200px;
}
.animation h2 {
    margin: auto auto;
    text-align: center;
    /*position: relative;*/
}
.coin {
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
/*  top: 50%;
  left: 50%;*/
  text-align: center;
  animation: coin 2s linear infinite;
}

.coin .front {
  width: 100%;
  height: 100%;
  
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.coin .back {
  width: 100%;
  height: 100%;
  background: #f7941e;
  border-radius: 50%;
  transform: rotateY(180deg) translateZ(10px);
  -webkit-transform: rotateY(180deg) translateZ(10px);
  -ms-transform: rotateY(180deg) translateZ(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.coin .front_b {
  width: 100%;
  height: 100%;
  background: #f7941e;
  border-radius: 50%;
  transform: translateZ(-1px);
  -webkit-transform: translateZ(-1px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.coin .back_b {
  width: 100%;
  height: 100%;
  background: #f7941e;
  border-radius: 50%;
  transform: translateZ(-9px);
  -webkit-transform: translateZ(-9px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.coin:before {
  content: "";
  margin-left: -5px;
  width: 10px;
  height: 100%;
  background: #f7941e;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
}

.coin .front_b:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 10px solid #fbb041;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.coin .front_b:after {
  content: "$";
  padding: 12px 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 5em;
  font-weight: bold;
  color: #fbb041;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  position: absolute;  
  top: 0;
  left: 0;
  z-index: 4;
}

.coin .back:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 10px solid #fbb041;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.coin .back:after {
  content: "100";
  padding: 27px 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  font-weight: bold;
  color: #fbb041;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

@keyframes coin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.titulo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.titulo h4 {
    margin: 0 0 5px;
    color: #777;
}

.legenda {
    line-height: 18px;
    color: #555;
}
.legenda i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}